:root{
 
}

*{
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}


.encabezado{
    display: flex;
    width: 100%;
    height: 10dvh;
    background: black;
    justify-content:space-between;
    align-items: center;
    border-bottom: 3px solid skyblue;
    color: white
}

.encabezado h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-left: 10px;
}

.encabezado img{
    height: 85%;
    padding-right: 10px;
}

.nav{
    display: flex;
    background: white;
    align-items: center;
    justify-content: space-around;
    height: 10dvh;
    width: 100%;
}

.nav ul{
    display: flex;
    align-items: center;
}

.nav ul li{
    text-align: center;
    padding: 0px 10px 0px 10px;
    border-right: 1px solid gray;
    
}

.nav ul li:last-child {
    border-right: none;
}

.nav ul li a{
    color: rgba(0,0,0,0.8);
    font-size: 0.8rem;
}

.section{
    display: flex;
    width: 100%;
    height: 60dvh;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
}

.section .principal {
    width: 65%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid skyblue;
    border-radius: 20px;
    background: skyblue;
}

.section .principal header{
    width: 100%;
    margin: 0 auto;
}

.section .principal header h2{
    font-size: 1em;
    text-align: center;
    padding: 10px;
    height: 20%;
    width: 100%;
    color: white;
    margin-bottom: 5px;
}

.section .principal article{
    height: 60%;
    width: 100%;
    background-color: skyblue;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section .principal article img{
    width: 250px;
    height: 100%;
}

.section .principal footer{
    height: 20%;
    width: 100%;
    margin: 5px;
}

.section .principal footer h3{
    font-size: 0.8em;
    color: white;
    padding: 5px;
}

.section .principal footer p{
    font-size: 0.7em;
    text-align: left;
    padding: 5px;
}

.section .aside {
    width: 25%;
    height: 60dvh;
    display: flex;
    padding: 5px 0 5px 0;
    border: 2px solid skyblue;
    border-radius: 20px;
}

.section aside h2{
    font-size: 1em;
    text-align: center;
}
.section aside h2 a{
    color: black;
}
.footer {
    display: flex;
    height: 20dvh;
    width: 100%;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-between;
    border-top: 3px solid skyblue;
}

/*CONTACTO*/
main{
    margin: 5px 0 5px 0;
}

main .form {
    margin: 0 auto;
    height: 80vh;
    width: 90%;
    height: 90%;
    border: 4px solid skyblue;
    background: var(--secundario);
    border-radius: 20px;
    font-size: 0.9rem;
}

.form form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.form h3{
    margin: 10px;
    color: var(--skyblue);
    text-align: center;
    margin-bottom: 10px;
    background: white;
    padding: 10px;
    border-radius: 20px;
}

.input{
    padding: 10px 0 10px 0;
    border-bottom: 2px solid rgba(135, 206, 235, 0.5);
}

.input:last-child{
    border: 0;
}

.input label, .input input{
    display: inline-block;
    width: 20%;
}
.input input{
    width: 60%;
}

.textarea{ 
    padding: 10px 0 10px 0px;
    border-bottom: 2px solid rgba(135, 206, 235, 0.5);
}

.textarea label, .textarea textarea{
    display: flex;
    flex-direction: column;
    padding: 0 0 10px 0px;
}

.textarea textarea{
    width: 100%;
    height: 100px;
}

#botones{
    display: inline-block;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.input button{
    font-size: 0.9rem;
    background-color: white;
    border: 2px solid skyblue;
    border-radius: 20px;
    color: skyblue;
    font-weight: bold;
    padding: 5px;
}

.input button:hover{
    transition: 0.5s;
    background-color: skyblue;
    border: 2px solid skyblue;
    color: white;
}

/*FOOTER*/

.footer p{
    padding-left: 20px;
    text-align: left;
}
.footer ul{
    display: flex;
}
.footer ul li{
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 2px solid white;
}
.footer ul li:last-child{
    border-right: none;
}
.footer ul li a img{
    filter: invert(100%);
    height: 20px;
    width: 20px;
}